* { box-sizing: border-box;}
.invitee_body {
  background: url(../assets/bridge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page_content {
  margin: 80px auto 0 auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(223, 219, 219, 0.5);
  border-radius: 25px;
}
#input_name {
  display: flex;
  flex: 0 0 100%;
  font-size: 24px;
  margin: 20px;
  box-sizing: border-box;
}

.input_person {
  flex: 0 0 70%;
  font-size: 24px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid lightgreen;
  font-family: 'Sniglet', cursive, Arial, Helvetica, sans-serif;
  margin-right: 15px;
  color: grey;
}
.input_person:hover {
  box-shadow: 1px 1px 5px rgb(108, 108, 184);
}
.input_person:focus {
  color: black;
}

.submit {
  color: grey;
  border-radius: 6px;
  flex: 0 1 20%;
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(84, 240, 84);
}

.submit:active {
  background-color: rgb(11, 230, 11);
}

h1, .wontAttend {
  text-align: center;
  flex: 0 1 50%;
  margin: 20px 0px 20px 0px;
}

.wontAttend {
  font-size: 20px;
  align-self: flex-end;
}

.people_container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  margin: 0px;
}
.people_list {
  flex: 0 0 100%
}

#invitedList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-content: flex-end;
}

#invitedList li {
  display: inline-block;
  list-style-type: none;
  flex: 1 1 33%;
  padding: 15px;
  font-size: 20px;
}

.attending{
  display: none;

}


li label {
  display: block;
}

.responded {
  border: 1px solid greenyellow;
  background-color: rgba(255, 555, 233, 0.5)
}
.responded label {
  color: rgb(4, 158, 4);
  text-decoration: underline;
}

.remove_button {
  background-color: red;
  font-size: 16px;
  font-weight: 700;
  border-radius: 1px;
  border: 1px solid darkred;
}
.edit_button {
  background-color: green;
  font-size: 16px;
  font-weight: 700;
  border-radius: 1px;
  border: 1px solid darkgreen;
  margin: 5px;
}